<!DOCTYPE html>
<html>
  <head>
    <title>Rapidcrm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation Bar start -->
    <%= link_to "Home",welcome_home_path %>
    <%= link_to "About Us",welcome_about_path %>
    <%= link_to "Contact",welcome_contact_path %>
    <%= link_to "Leads" , leads_path %>
    <!--Navigation Bar End-->
    <%= yield %>
  </body>
</html>
